.park-vehicle {
    width: 44%;
    border: 2px solid grey;
    border-radius: 2rem;
    margin: auto;
    background-color: #DAE0E2;
}

    .park-vehicle .input {
        width: 70%;
        margin: auto;
        display: flex;
        background: violet;
    }

    .head{
        display: flex;
    }

    .header{
        margin: 4% auto 3%;
    }

    .park-vehicle .textbox {
        margin: 3% auto;
    }

    .park-vehicle .submit button {
        border-radius: 2rem;
        width: 6rem;
        height: 2.5rem;
        background-color: #BB2CD9;
    }

    .park-vehicle .submit {
        display: table;
        margin: 0.5rem auto;
    }

    .parked    {
        height: 100%;
        padding: 15% 0%;
    }